.mainpage{
    background-color: transparent;
    display: grid;
    grid-template-areas: "cover" "promociones" "pedidosya";
    margin-top: 15%;
    z-index: 50;
    width: 100%;
    //PORTADA PRINCIPAL
    &-cover{
        grid-area: cover;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 400px;
        width: 100%;
        font-family: brabettoheavy;
        &-left{
            width: 400px;
        }

        &-right{
            font-size: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img{
                height: 100px;
                width:300px;
                padding: 20px;
                padding-top: 30px;
            }

            span{
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }
            a{
                text-decoration: none;
                color: inherit;
            }
            button{
                margin: auto;
                height: 80px;
                padding: 10px;
                width: 300px;
                color: #ffffff;
                background-color: #F22727;
                padding: 10px 0px;
                border: solid #F22727 4px;
                box-shadow: none;
                border-radius: 50px;
                transition : 284ms;
                transform: translateY(0);
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                font-size: 24px;
                justify-content: center;
                font-family: brabettoheavy;
            }
            button:hover{
                transition : 284ms;
                padding: 10px 31px;
                transform : translateY(-0px);
                background-color: #ffffff;
                color: #F22727;
                border: solid 4px #F22727;
            }
        }
        
        
    }

    //SECCION DE PROMOCIONES
    &-promos{
        grid-area: promociones;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
        &-title{
            font-family: brabettoheavy;
            font-size: 40px;
            align-items: center;
            margin-left: 15%;
            width:80%;
            span{
                border-bottom: 5px solid black;                
            }
        }
        &-section{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 50px;
            margin-right: 10%;
            margin-left: 10%;
            height: 100%;

            &-cumple{
                display: flex;
                flex-direction: column;
                width: 30%;
                border-radius: 25px;
                background-color: #ffffff;
                border: 1px solid rgb(177, 177, 177);
                img{
                    height: 50%;
                    width: 100%;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                }
                &-info{
                    height: 50%;
                    margin: 50px;
                    span{
                        font-family: brabettoheavy;
                        font-size: 24px;
                    }
                    p{
                        font-family: brabettobold;

                    }
                }
                &:hover{
                    cursor: pointer;
                    transform: translateY(-20px);
                    transition: transform 0.3s ease;
                    box-shadow:
                    0px 0.7px 2.2px rgba(0, 0, 0, 0.025),
                    0px 1.7px 5.3px rgba(0, 0, 0, 0.036),
                    0px 3.3px 10px rgba(0, 0, 0, 0.045),
                    0px 5.8px 17.9px rgba(0, 0, 0, 0.054),
                    0px 10.9px 33.4px rgba(0, 0, 0, 0.065),
                    0px 26px 80px rgba(0, 0, 0, 0.09)
                    ;

                }
            }
            &-giftcard{
                display: flex;
                flex-direction: column;
                width: 30%;
                border-radius: 25px;
                background-color: #ffffff;
                border: 1px solid rgb(177, 177, 177);
                img{
                    height: 50%;
                    width: 100%;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                }
                &-info{
                    height: 50%;
                    margin: 50px;
                    span{
                        font-family: brabettoheavy;
                        font-size: 24px;
                    }
                    p{
                        font-family: brabettobold;

                    }
                }
                &:hover{
                    cursor: pointer;
                    transform: translateY(-20px);
                    transition: transform 0.3s ease;
                    box-shadow:
                    0px 0.7px 2.2px rgba(0, 0, 0, 0.025),
                    0px 1.7px 5.3px rgba(0, 0, 0, 0.036),
                    0px 3.3px 10px rgba(0, 0, 0, 0.045),
                    0px 5.8px 17.9px rgba(0, 0, 0, 0.054),
                    0px 10.9px 33.4px rgba(0, 0, 0, 0.065),
                    0px 26px 80px rgba(0, 0, 0, 0.09)
                    ;
                }

            }
            
        }
    }

    //PEDIDOSYA ANUNCIO
    &-app{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-family: brabettoheavy;
        height: 450px;
        text-align: center;
        font-size: 32px;

        &-left{

            width: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 200px;
            }
        }

        &-right{
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: space-evenly;
            width: 600px;    
            img{
                width: 200px;
            }
            
        }

    }
}