@import "./base/base.scss";
@import "./components/breakpoint.scss";
@import "./components/header";
@import "./components/home.scss";
@import "./components/footer.scss";
@import "./config/variables";

@font-face {
    font-family:"brabettoheavy";
    src:url(../resources/BrabettoFontHeavy.ttf);
}
@font-face {
    font-family:"brabettobold";
    src:url(../resources/BrabettoFontBold.ttf);
}

body{
    margin: 0;
}

