:root{
    --greenbb: #5DBF4E;
    --yellowbb: #F2A516;
    --brownbb: #733702;
    --orangebb: #F2762E;
    --redbb: #F22727;
}
//Brabetto Fuente Heavy
@font-face {
    font-family:"brabettoheavy";
    src:url(../../resources/BrabettoFontHeavy.ttf);
}
@font-face {
    font-family:"brabettobold";
    src:url(../../resources/BrabettoFontBold.ttf);
}

