@import "../../header";
@import "../../footer";
@import "../../../config/variables";
@import "../../../base/basemenubar";

@font-face {
    font-family:"brabettoheavy";
    src:url(../../../../resources/BrabettoFontHeavy.ttf);
}
@font-face {
    font-family:"brabettobold";
    src:url(../../../../resources/BrabettoFontBold.ttf);
}

.mainpage{
    background-color:transparent;
    margin-top: 13%;
    &-navbar{
    display: flex;
    justify-content: center;
    height: 80px;
    margin-bottom: 3%;
        &-list{
            font-family: brabettobold;
            border: 1px solid #ccc;
            box-shadow: 0 3px 10px #ccc;
            border-radius: 15px;
            background-color: #fff;
            list-style: none;
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            align-items: center;      
            &-categories{
                align-items: center;
                position: relative;
                height: 100%;
                display: flex;
                a{
                    text-decoration: none;
                    color: inherit;
                    align-items: center;
                }

            }
            &-categories:hover{
                a{
                    border-bottom: 3px solid black;;
                }


            }
        }
    }
    &-menu{
        margin-bottom: 5%;
        &-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            &-elements{
                display: flex;
                position: relative;
                border: 1px solid gray;
                border-radius: 24px;
                height: 300px;
                width: 70%;
                &-img{
                    position: relative;
                    height: 100%;
                    img{
                        border-top-left-radius: 24px;
                        border-bottom-left-radius: 24px;
                        width: 450px;
                        height: 100%;
                    }
                }
                &-info{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    h2{
                        font-family: brabettoheavy;
                    }
                    p{
                        font-family: brabettobold;
                    }
                }
            }
        }
    }
}


